---
title: Project
layout: project
id: 1
next: 3
previous: 15
---

<h4>redwood forest inspired plaster : lahontan, ca</h4>

<ul>
  <li>
    Client: Private residence
  </li>
  <li>
    Completed: September 2009
  </li>
</ul>

<p>Textured with strong vertical lines of warm rust shades, a lime plaster accent wall invokes the surrounding redwoods.</p>
