---
title: Project
layout: project
id: 11
---

<h4>old world faux : bellevue, wa</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: January 2012
  </li>
</ul>

<p>To achieve the client’s desire for an Old-World feel, I employed a unique, three-color glaze process.</p>

<p>
  <%= link_to '← Back', '/portfolio', class: 'button' %>
</p>
