---
title: Project
layout: project
id: 13
---

<h4>stencil dining room : los altos, ca</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: May 2012
  </li>
</ul>

<p>dining room, shimmer background and stencil. all created with water based wax.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
