---
title: Project
layout: project
id: 14
---

<ul>
  <li>
    <strong>textured wax finish : san francisco, ca</strong>
  </li>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: May 2012
  </li>
</ul>

<p>shimmer on the walls catching the shimmer in glass tiles.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
