---
title: Project
layout: project
id: 14
next: 15
previous: 13
---

<h4>textured wax finish : san francisco, ca</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: May 2012
  </li>
</ul>

<p>shimmer on the walls catching the shimmer in glass tiles.</p>
