---
title: Project
layout: project
id: 15
---

<h4>faux bois stairwell : santa cruz, ca</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: November 2011
  </li>
</ul>

<p>Faux bois: (from the French for false wood) refers to the artistic imitation of wood or wood grains in various media.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
