---
title: Project
layout: project
id: 3
next: 4
previous: 1
---

<h4>tuscan faux entry : north lake tahoe</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: May 2009
  </li>
</ul>

<p>Pulling sepia tones from photos of Italian rooftops, a simple faux finish adds dimension to an entryway.</p>
