---
title: Project
layout: project
id: 4
---

<ul>
  <li>
    <strong>venetian plaster wine cellar: big water grille restaurant</strong>
  </li>
  <li>
    Client: Big Water Grille, Incline Village, NV
  </li>
  <li>
    Completed: July 2009
  </li>
</ul>

<p>Thick, trowled dark merlot peaking through light venetian plaster showcases the unique solutions attainable through the creative process.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
