---
title: Project
layout: project
id: 6
next: 7
previous: 4
---

<h4>sandstone plaster bath : south lake tahoe, ca</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: August 2004
  </li>
</ul>

<p>Walnut shell plaster lends an organic feel to a bathroom/meditation room that highlights an ethereal violet-gray in the slate shower.</p>
