---
title: Project
layout: project
id: 7
---

<ul>
  <li>
    <strong>four story circular stairwell faux : palo alto, ca</strong>
  </li>
  <li>
    Client: Albert Borges / AB Custom Welding / Scotts Valley, CA
  </li>
  <li>
    Completed: April 2010
  </li>
</ul>

<p>A four story circular staircase welded of metal. Soft faux incorporating the feel of the refurbished redwood on metal stringers.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
