---
title: Project
layout: project
id: 8
---

<ul>
  <li>
    <strong>four colored wax texture : la quinta, ca</strong>
  </li>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: July 2010
  </li>
</ul>

<p>Color consultation absorbing fabric colors to walls in a trowled wax creative expression. Accents of solid colors on surrounding walls.</p>

<p>
  <%= link_to 'â† Back', '/portfolio', class: 'button' %>
</p>
