---
title: Project
layout: project
id: 8
next: 11
previous: 7
---

<h4>four colored wax texture : la quinta, ca</h4>

<ul>
  <li>
    Client: private residence
  </li>
  <li>
    Completed: July 2010
  </li>
</ul>

<p>Color consultation absorbing fabric colors to walls in a trowled wax creative expression. Accents of solid colors on surrounding walls.</p>
