---
title: About
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <p>
        With a mixture of artistic talent, professional training, and years of experience, faux finish artist Molly O'Mara will recreate the inside of your home or business so that it reflects your personal style.
      </p>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">
      <h4>
        <b>Collaborative Vision</b>
      </h4>
      <p>Although many of her satisfied clients reside in Lake Tahoe, Molly’s projects can be seen in prestigious homes from Park City and Deer Valley, Utah to Newport Beach and Laguna Beach, California. Her success is due in part to her innovative techniques, but also because of her ability to integrate the ideas of others. She loves collaborating with architects, designers and private clients. A visionary and committed artist, Molly can remake any surface in your home or business, recreating and transforming those spaces.</p>
      <h4>
        <b>Environmentally-Aware</b>
      </h4>
      <p>Molly's love of nature is apparent in the many ways she utilizes texture and color, creating an organic feel to the surfaces she paints. Whether she’s making a switch plate look like granite or transforming your old cabinets with the use of faux bois, the artistic imitation of wood grain, Molly’s unique talent for chameleon-like paintwork will inspire you to believe it’s real. Her commitment to the environment doesn’t end at its imitation; Molly uses materials, such as tadelakt, the traditional coating of palaces in Morocco, as an alternative to demolishing an existing bathroom. Her passion for the natural world and her outstanding talent translate into consciously wrought, high-quality results for you.</p>
      <h4>
        <b>Innovative Solutions</b>
      </h4>
      <p>
        Professional training with <a href="http://www.fauxmasters.com/">FauxMasters Studios</a> and <a href="http://www.dimensionsplaster.com/">Dimensions Plasters</a> has also informed her work and broadened the variety of unique and elegant finishes she offers. For example, as a certified applicator of <a href="http://www.skimstone.com/">SkimStone®</a>, an innovative concrete finish, Molly can create functional artwork by turning a floor or countertop into a beautiful design element in any room. For a complete list of techniques, materials, and descriptions, please consult the
        <a href="/services">services</a>
        page.
      </p>
      <h4>
        <b><a href="https://www.mollyoart.com/">Fine Art</a></b>
      </h4>
      <p style="padding-bottom:50px;">
        Molly O’Mara infuses her mixed media paintings with beautiful abstract texture and tasteful color. Her work is a testament to her deep love of nature. Molly successfully distills the feelings and colors of the outdoors into bold, abstract paintings which allow the viewer to engage in a cerebral exchange with her art.
      </p>
      <%= image_tag 'portrait.jpg', alt: '', style: 'width: 100%;' %>
    </div>
  </div>
</section>
