---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <p>
        Molly enjoys collaborating with architects,
        designers and private clients to create and transform spaces.
        Sample boards are available on request.
      </p>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <form name="contact" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_phone">Phone</label>
          <input class="text phone" id="contact_phone" name="phone" placeholder="Phone" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_message" class="required">Message</label>
          <textarea cols="40" id="contact_message" name="message" placeholder="Message" required="required" rows="10"></textarea>
        </div>

        <div class="actions">
          <button type="submit">Send message</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
    <div class="col-right">
      <ul>
        <li>P.O. Box 3608</li>
        <li>Incline Village, NV 89450</li>
        <li>CA License: 900414</li>
        <li>NV License: 0068283</li>
        <li>t: 530.412.0947</li>
        <li>e:
<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(8),2\\\"\\\\20\\\\02\\\\03\\\\\\\\22\\\\01\\\\00\\\\\\\\05\\\\00\\\\03\\" +
"\\\\\\3D01\\\\\\\\37\\\\0O\\\\CN7117\\\\\\\\}ouvt`y{Txt|77\\\\1y\\\\,1aQidi" +
"'gukhnzom23\\\\0=\\\\23\\\\05\\\\03\\\\\\\\24\\\\00\\\\02\\\\\\\\+Z0K02\\\\" +
"\\\\30\\\\07\\\\00\\\\\\\\33\\\\05\\\\00\\\\\\\\MP0200\\\\\\\\03\\\\00\\\\0" +
"1\\\\\\\\0D01\\\\\\\\32\\\\06\\\\00\\\\\\\\13\\\\0n\\\\\\\\\\\\35\\\\07\\\\" +
"01\\\\\\\\16\\\\06\\\\01\\\\\\\\\\\\r7\\\\03\\\\\\\\;1226`;,4?q9\\\\rr\\\\." +
"+/;\\\\e\\\\\\\"}\\\\35\\\\05\\\\02\\\\\\\\UUARCZ3X00\\\\\\\\G_HBBVyp\\\"\\" +
"\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt+=;o27=1y%+;y+8)<" +
"2(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{vy)x,f(n ioctun\\" +
"\"f)\")"                                                                     ;
while(x=eval(x));
//-->
//]]>
</script>
        </li>
      </ul>
    </div>
  </div>
</section>
