---
title: Contact
---

<section id="splash">
  <div class="row">
    <div class="col-left">
      <p>
        Molly enjoys collaborating with architects,
        designers and private clients to create and transform spaces.
        Sample boards are available on request.
      </p>
    </div>
  </div>
</section>

<section id="content">
  <div class="row">
    <div class="col-left">

      <form name="contact" method="POST" data-netlify="true">

        <div class="field">
          <label for="contact_name" class="required">Name</label>
          <input class="text" id="contact_name" name="name" placeholder="Name" required="required" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_email" class="required">Email</label>
          <input class="text email" id="contact_email" name="email" placeholder="Email" required="required" size="30" type="email">
        </div>

        <div class="field">
          <label for="contact_phone">Phone</label>
          <input class="text phone" id="contact_phone" name="phone" placeholder="Phone" size="30" type="text">
        </div>

        <div class="field">
          <label for="contact_message" class="required">Message</label>
          <textarea cols="40" id="contact_message" name="message" placeholder="Message" required="required" rows="10"></textarea>
        </div>

        <div class="actions">
          <button type="submit">Send message</button>
          <a href="/privacy-policy" style="padding-left: 1em; font-size: 80%;">We value your privacy</a>
        </div>

      </form>

    </div>
    <div class="col-right">
      <ul>
        <li>P.O. Box 3608</li>
        <li>Incline Village, NV 89450</li>
        <li>CA License: 900414</li>
        <li>NV License: 0068283</li>
        <li>t: 530.412.0947</li>
        <li>e: info@mollyomara.com</li>
      </ul>
    </div>
  </div>
</section>
