---
title: Home
---

<section id="splash">
  <div class="row" style="padding-top: 0;">
    <div class="item" style="display: flex; align-items: center; justify-content: center; max-height: 500px; overflow: hidden;">
      <% id = [1,4,6,7,8,11,13,14,15].sample %>
      <a href="<%= "/projects/#{id}" %>">
        <%= image_tag "projects/photo/#{id}/original.jpg" %>
      </a>
    </div>
  </div>
</section>
