---
title: Portfolio
layout: project
---

<% content_for :head do %>
  <%= stylesheet_link_tag 'revolution/layers', 'revolution/navigation',
    'revolution/settings', media: 'screen' %>
  <%= javascript_include_tag 'revolution/jquery.themepunch.revolution.min',
    'revolution/jquery.themepunch.tools.min',
    'revolution/revolution.extension.actions.min',
    'revolution/revolution.extension.layeranimation.min',
    'revolution/revolution.extension.navigation.min',
    'revolution/revolution.extension.slideanims.min' %>
<% end %>

<h4>Notable Projects</h4>
<ul>
  <li>
    <a href="/projects/15">faux bois stairwell : santa cruz, ca</a>
  </li>
  <li>
    <a href="/projects/14">textured wax finish : san francisco, ca</a>
  </li>
  <li>
    <a href="/projects/13">stencil dining room : los altos, ca</a>
  </li>
  <li>
    <a href="/projects/11">old world faux : bellevue, wa</a>
  </li>
  <li>
    <a href="/projects/8">four colored wax texture : la quinta, ca</a>
  </li>
  <li>
    <a href="/projects/7">four story circular stairwell faux : palo alto, ca</a>
  </li>
  <li>
    <a href="/projects/1">redwood forest inspired plaster : lahontan, ca</a>
  </li>
  <li>
    <a href="/projects/3">tuscan faux entry : north lake tahoe </a>
  </li>
  <li>
    <a href="/projects/4">venetian plaster wine cellar : big water grille restaurant</a>
  </li>
  <li>
    <a href="/projects/6">sandstone plaster bath : south lake tahoe, ca</a>
  </li>
</ul>

<h4 style="margin-top: 20px;"><%= link_to 'Fine Art →', 'https://www.mollyoart.com', style: 'color: #000;' %></h4>
